// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/utilities";


// Styling
*{
    box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body{
    position: relative;
    background: #E9E9E8;
    color: #515AA3;
    max-width: 100%;
    margin-bottom: 60px; /* Margin bottom by footer height */
}
header{
    position: relative;
    min-height: 250px;
}
video{
    position: relative;
    max-width: 100%;
    width: 100%;
    z-index: -99;
}
.main-header{

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 64px;
    z-index: 99;
}
.socials{
  .row{
    text-align: center;
    .col-4{
      img{
        width: 40%;
      }
    }
  }
}
.topLeftFixed{
    position: absolute;
    top: 45px;
}
.mobile-menu-items {
    position: relative;
    img.cart {
        position: relative;
        width: 15%;
        float: left;
        padding-top: 15px;
    }
    img.btnCart{
        position: relative;
        width: 20%;
        float: left;
        
    }
    .buy{
        position: relative;
        font-size: 1.5em;
        color: #E9E9E8 !important;
        float: left;
        padding-top : 0;
    }
    button{
        height: 56px;
    }
}
img.cart{
    width: 2%;
    position: absolute;
    top: 0px;
    padding-top: 15px;
}
img.btnCart{
    width: 20%;
    float: left;
    padding-top: 15px;
}
.buy{
    font-size: 1.5em;
    position: absolute;
    top: 3px;
    left: 4%;
    padding-top : 0;
    z-index: 102;
}
.logo{
    text-align: center;
    margin: 0 auto;
}
.logo-medium{
  text-align: center;
  margin: 0 auto;
  padding-bottom: 100px;
  @include clearfix();
}
.logo-medium img{
  width: 10%;
  top: 64px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.banner{
  >.container{
    padding-top: 0px;
  }
}
h2{
    font-size: 3em;
    text-align: center;
}
.img-100{
    width: 100%;
    clear: both;
}
.logo img{
    width: 4%;
    top: 64px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
p{
    padding-top: 16px;
}
.container{
    position: relative;
    padding-top: 64px;
}

.sidenav {
    font-family: sans-serif;
        text-transform: uppercase;
      height: 100%;
      /* 100% Full-height */
      width: 0;
      /* 0 width - change this with JavaScript */
      position: fixed;
      /* Stay in place */
      z-index: 10000;
      /* Stay on top */
      top: 0;
      right: 0;
      background-color: #515AA3;
      /* Black*/
      overflow-x: hidden;
      /* Disable horizontal scroll */
      padding-top: 60px;
      /* Place content 60px from the top */
      transition: 0.5s;
      /* 0.5 second transition effect to slide in the sidenav */
   
  }
  /* The navigation menu links */
  .sidenav a {
        text-decoration: none;
        font-size: 25px;
        color: #E9E9E8;
        display: block;
        transition: 0.3s;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover, .offcanvas a:focus {
      color: #f1f1f1;
  }
  a:hover{
    text-decoration: none;
  }
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: -13px;
    right: 32px;
    font-size: 38px;
    margin-left: 50px;
    width: initial;
  }
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
      transition: margin-left .5s;
      padding: 1%;
  }
  .sub-nav {
    color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
  margin: 0 12px 0 12px;
  }
  .sub-nav:hover {
      color: #C0212A;
    
  }
  ul li{
      list-style-type: none;
  }
  .hamburger-icon {
        font-size: 32px;
        color: #515AA3;
        text-decoration: none;
        position: fixed;
        z-index: 1;
        right: 29px;
        top: 64px;
        cursor: pointer;
        display: inherit;
    }
.btn-underline a{
    border-bottom: 1px solid #515AA3;
    color: #515AA3;
    float: left;
}
.iconAndContent{
  width: 25%;
  float: left;
  text-align: center;
  @include clearfix();
}
.smallIcon img{
  width: 50%;
  margin: 0 auto;
}
.smallIconContent p{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.contentContainer{
  @include clearfix();
}
.detailContent{
  .header{
    width: 20%;
    border-bottom: 3px solid rgba(0, 123, 255, 0.29);
    h3{
      font-weight: 300;
    }
  }
  .bigText{
    font-size: 3rem;
    font-weight: 300;
  }
}
button{
    background: none;
    border: none;
    border-radius: 1px;
    height: 70px;
}
.products button{
    margin-right: 104px;
    
}
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }
  .btn{
      padding: 0 16px 0 0;
  }
.btnInfo{
    width: 100%;
    text-align: center;
}
.left-float{
    float: left;
    width: 33%;
}
.blueBackground{
  color: #515AA3;
  background: rgba(0, 123, 255, 0.29);
  font-weight: bold;
  p{
    padding: 2%;
  }
  @include clearfix();
}
h3{
    font-size: 4rem;
}
button+button{
    margin-left: 50px;
}
form input,textarea{
    width: 100%;
    border: 1px solid#E9E9E8;
    border-radius: 8px;
    padding: 2%;
}
.formSubmit{
    text-align: center;
    font-size: 150%;
}
.formSubmit a{
    font-size: 2rem;
}
.alert-light{
    background: none;
    border: none;
    color: #D3D3D3;
}
.quantity{
  background: white;
  border: 1px solid rgba(0, 123, 255, 0.29);
  margin-bottom: 3%;
  width: 100%;
  position: relative;
  @include clearfix();
}
.order form{
  width: 50%;
  margin: 0 auto;
  position: relative;
  .col-6{
    float: left;
  }
  input{
    width: 20%;
    border: none;
  }
  .amountPick{
    float: left;
  }
  .boldNLeft{
    float: right;
    top: 0;
    right: 0;
    font-weight: bold;
    color: #515AA3;
    position: absolute;
  }
}
.align-items-fix{
    margin-left: 80px;
}
.align-center{
  text-align: center;
}
.container>form{
  padding-bottom: 10px;
}
label{
  padding: 2% 0;
  font-weight: lighter;
  font-size: 0.9rem;
  letter-spacing: 1.1;
}
.col-sm{
  > select{
    margin: 2% 0;
  }
}
/* ORDER PAGE */
.progress{
    width: 50%;
    text-align: center;
}
.row>form{
  margin: 0 auto;
  text-align: center;
  >.row{
    text-align: left;
  }
}

$gray: rgba($color: #515AA3, $alpha: 0.2);
$half: #8E93BF;
$blue: #515AA3;

.cart-progress {
  list-style: none;
  text-align: center;
  margin: 40px auto;
  padding: 0;
  border-top: 6px solid $gray;
  color: #EDEDED;
  &__step {
    margin-top: -22px;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: $half;
    border-radius: 25px;
    text-align: center;
    padding: 8px 2px;
    z-index: 2;
    
    &:first-of-type {
      float: left;
      
      text-align: left;
    }
    
    
    &:last-of-type {
      float: right;
      text-align: right;
    }
  }
  .active{
    background: $blue !important;
    }  
}
/* ORDER PAGE */


.width-33{
    width: 33%;
}

.footer {
    position: absolute;
    bottom: -60;
    width: 100%;
    text-align: center;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background: #EDEDED;
  }

.blueUnderline{
    border-bottom: 4px solid rgb(214, 218, 255);
    border-radius: 10px;
}
.container-fluid{
    @include clearfix;
}
.container{
    padding-top: 128px;
}
.container-fluid>.container{
    padding-top: 0;
}

/*image gallery*/
.image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid transparent;
  border-radius: 15px;
  min-width: 200px;
  text-align: center;
  background: white;
  margin-bottom: 0;
  outline: 0;
}
.image-checkbox input[type="checkbox"] {
  display: none;
}

.image-checkbox-checked {
  border-color: #515AA3;
}
.image-checkbox-checked .fa {
  display: block !important;
}


// ANIMATIONS



.banaan {
  -webkit-animation: animation 1000ms linear both;
  animation: animation 1000ms linear both;
}
.appel {
  -webkit-animation: animation 1000ms linear both;
  animation: animation 1000ms linear both;
  animation-delay: 1s;
}
.druif {
  -webkit-animation: animation 1000ms linear both;
  animation: animation 1000ms linear both;
  animation-delay: 2s;
}

/* Generated with Bounce.js. Edit at https://goo.gl/bkOekC */
@-webkit-keyframes animation {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); opacity: 0%;}
  1.3% { -webkit-transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1); transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1); }
  2.55% { -webkit-transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1); transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1); }
  4.1% { -webkit-transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1); transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1); }
  5.71% { -webkit-transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1); transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1); }
  8.11% { -webkit-transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1); transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1); }
  8.81% { -webkit-transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1); transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1); }
  11.96% { -webkit-transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1); transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1); }
  12.11% { -webkit-transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1); transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1); }
  15.07% { -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1); transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1); }
  16.12% { -webkit-transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1); transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1); }
  27.23% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1); }
  27.58% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1); }
  38.34% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1); }
  40.09% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1); }
  60.56% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1); }
  82.78% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 100%; }
}

@keyframes animation {
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); opacity: 0%; }
  1.3% { -webkit-transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1); transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1); }
  2.55% { -webkit-transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1); transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1); }
  4.1% { -webkit-transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1); transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1); }
  5.71% { -webkit-transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1); transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1); }
  8.11% { -webkit-transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1); transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1); }
  8.81% { -webkit-transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1); transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1); }
  11.96% { -webkit-transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1); transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1); }
  12.11% { -webkit-transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1); transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1); }
  15.07% { -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1); transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1); }
  16.12% { -webkit-transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1); transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1); }
  27.23% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1); }
  27.58% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1); }
  38.34% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1); }
  40.09% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1); }
  60.56% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1); }
  82.78% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 100%; }
}




.unfold {
  -webkit-animation: unfoldAnimation 2000ms linear both;
  animation: unfoldAnimation 2000ms linear both;
  animation-delay: 2s;
}

/* Generated with Bounce.js. Edit at https://goo.gl/IyMQhR */

@-webkit-keyframes unfoldAnimation {
  0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); }
  50% { -webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes unfoldAnimation {
  0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); }
  50% { -webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .left-float {
    float: none;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .align-items-fix {
    margin-left: 0px;
  }
  header {
    position: relative;
    min-height: 150px;
  }
  .logo img {
    width: 5%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .col {
    width: 100%;
    flex-basis: 30%;
  }
  .products button {
    margin-right: 0px;
  }
  .text-left,.text-right{
    padding: 0;
    flex-basis: 0%;
  }
  .usp {
    background: #EDEDED;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
  }
  .left-float {
    float: none;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .align-items-fix {
    margin-left: 0px;
  }
  header {
    position: relative;
    min-height: 150px;
  }
  .logo img {
    width: 8%;
  }
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .order form .col-6 {
    float: none;
    width: 100%;
  }

  .col-6 {
    max-width: 100%;
  }
  .order form .amountPick {
    float: none;
    width: 100%;
  }
  .col-3 {
    max-width: 100%;
  }
  .quantity{
    text-align: center;
  }
}