// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/utilities";


// Styling
*{
    box-sizing: border-box;
}
body{
    background: #E9E9E8;
    color: #515AA3;
    max-width: 100%;
    position: relative;
}
header{
    position: relative;
}
video{
    position: absolute;
    max-width: 100%;
    z-index: -100;
}
.main-header{
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 64px;
    z-index: 99;
}
img.cart{
    width: 5%;
    float: left;
    padding-top: 15px;
}
img.btnCart{
    width: 20%;
    float: left;
    padding-top: 15px;
}
.buy{
    font-size: 1.5em;
    float: left;
    padding-top : 0;
}
.logo{
    text-align: center;
    margin: 0 auto;
}
h2{
    font-size: 3em;
    text-align: center;
}
.page-main>h2{
    padding-top: 104px
}
.img-100{
    width: 100%;
}
.logo img{
    width: 4%;
    top: 64px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
p{
    padding-top: 16px;
}
.container{
    position: relative;
    padding-top: 64px;
}

.sidenav {
    font-family: sans-serif;
        text-transform: uppercase;
      height: 100%;
      /* 100% Full-height */
      width: 0;
      /* 0 width - change this with JavaScript */
      position: fixed;
      /* Stay in place */
      z-index: 10000;
      /* Stay on top */
      top: 0;
      right: 0;
      background-color: #515AA3;
      /* Black*/
      overflow-x: hidden;
      /* Disable horizontal scroll */
      padding-top: 60px;
      /* Place content 60px from the top */
      transition: 0.5s;
      /* 0.5 second transition effect to slide in the sidenav */
   
  }
  /* The navigation menu links */
  .sidenav a {
        text-decoration: none;
        font-size: 25px;
        color: #E9E9E8;
        display: block;
        transition: 0.3s;
        width: 227px;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover, .offcanvas a:focus {
      color: #f1f1f1;
  }
  a:hover{
    text-decoration: none;
  }
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: -13px;
    right: 32px;
    font-size: 38px;
    margin-left: 50px;
    width: initial;
  }
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
      transition: margin-left .5s;
      padding: 1%;
  }
  .sub-nav {
    color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
  margin: 0 12px 0 12px;
  }
  .sub-nav:hover {
      color: #C0212A;
    
  }
  ul li{
      list-style-type: none;
  }
  .hamburger-icon {
        font-size: 32px;
        color: #515AA3;
        text-decoration: none;
        position: fixed;
        z-index: 1;
        right: 29px;
        top: 64px;
        cursor: pointer;
        display: inherit;
    }
.btn-underline a{
    border-bottom: 1px solid #515AA3;
    color: #515AA3;
    float: left;
}
.smallIcon .col img{
    width: 50%;
}
button{
    background: none;
    border: none;
    border-radius: 1px;
    height: 70px;
}
.products button{
    margin-right: 104px;
    
}
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }
  .btn{
      padding: 0 16px 0 0;
  }
.btnInfo{
    position: relative;
    left: 0;
}
h3{
    font-size: 4rem;
}
form input,textarea{
    width: 100%;
    border: 1px solid#E9E9E8;
    border-radius: 8px;
    padding: 2%;
}
.formSubmit{
    text-align: center;
    font-size: 150%;
}
.formSubmit a{
    font-size: 2rem;
}
.alert-light{
    background: none;
    border: none;
    color: #D3D3D3;
}

/* ORDER PAGE */

.order-navigation{
    width: 10%;
}
.order-navigation .order-navigation__circle{
    padding: 0;
    margin: 0;
    background: rgba($color: #515AA3, $alpha: 0.2);
    border-radius: 100%;
}


/* ORDER PAGE */


footer{
    background: #EDEDED;
    padding: 1rem;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.row+.row{
    padding-top: 16px;
}
.blueUnderline{
    border-bottom: 4px solid rgb(214, 218, 255);
    border-radius: 10px;
}
.container{
    padding-top: 128px;
    min-height: 100%;
}
