// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/utilities";


// Styling
*{
    box-sizing: border-box;
}
body{
    background: #E9E9E8;
    color: #515AA3;
    max-width: 100%;
}
header{
    position: relative;
}
.main-header{
    /* The image used */
    background-image: url(../../images/campbells_007.jpg);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cart,img{
    width: 10%;
}
.logo{
    text-align: center;
}
h2{
    font-size: 3em;
    padding-top: 104px;
    text-align: center;
}
.img-100{
    width: 100%;
}
.logo img{
    width: 20%;
    top: 350px;
    position: relative;
}
p{
    padding-top: 16px;
}
.products .btn-underline p{
    color: #515AA3;
    font-size: 1.5em;
    padding-top: 16px;
}
.products button{
    background: none;
    border: none;
    margin-right: 104px;
    border-radius: 1px;
    height: 70px;
    border-bottom: 1px solid #515AA3;
}
footer{
    background: #EDEDED;
    text-align: center;
    padding: 1%;
}